{% extends "base.html" %}

{% block title %}{{data.Data_Title}}{% endblock title %}

{% block body %}
<h1 class=" text-center">Contract Details</h1>

<div class="input_container col-lg-3 mx-auto">
    
    <div class="input-group input-group-lg mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Title</span>
        <input readonly type="text" class="form-control  g-col-4" value="{{data.Data_Title}}" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-sm">
    </div>
    <div class="input-group input-group-lg mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Taluk</span>
        <input readonly type="text" class="form-control" value="{{data.Taluk}}" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-sm">
    </div>
    <div class="input-group input-group-lg mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Year</span>
        <input readonly type="text" class="form-control" value="{{data.Year}}" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-sm">
    </div>
    <div class="input-group input-group-lg mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Month</span>
        <input readonly type="text" class="form-control" value="{{data.Month}}" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-sm">
    </div>
    <div class="input-group input-group-lg mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Account</span>
        <input readonly type="text" class="form-control" value="{{data.Account}}" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-sm">
    </div>
    <button class="btn btn-outline-info" type="Select" >PRINT</button>
</div>
{% endblock body %}